/* Global configuration to ensure padding does not affect element size and remove default margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
